    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: 'Raleway', sans-serif;
    }
    
    body {
        background-color: rgb(50, 192, 62);
        height: 100vh;
    }
    
    main {
        background-color: #fff;
        width: 70%;
        max-width: 400px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 2rem;
        border: none;
        border-radius: 10px;
        box-shadow: 0 4px 1rem rgba(0, 0, 0, 0.534);
    }
    
    h2 {
        text-align: center;
        color: rgba(0, 0, 0, 0.808);
    }
    
    hr {
        margin-bottom: 1rem;
        height: 2px;
        border: none;
        border-radius: 4px;
        width: 80%;
        background-color: rgb(50, 192, 62);
        margin: 10px auto 4rem auto;
    }
    
    .para {
        font-size: .89rem;
    }
    
    div {
        width: 100%;
        padding-bottom: 1rem;
        margin: 0 auto;
        position: relative;
    }
    
    #text {
        width: 65%;
        border: none;
        border-bottom: 2px solid rgb(50, 192, 62);
        padding: 8px 8px;
        font-size: 1rem;
    }
    
    div::after {
        content: "City";
        position: absolute;
        font-size: 0.98rem;
        color: rgb(29, 156, 40);
        top: 10px;
        left: 6px;
        z-index: 9;
        display: inline;
        /*
        width: 64.5%;
        height: 18px; */
    }
    
    .msg {
        font-size: .89rem;
        color: red;
    }
    
    .btn {
        width: 32%;
        color: white;
        background-color: rgb(50, 192, 62);
        border: none;
        border-radius: 4px;
        padding: 8px 4px;
        font-size: 1rem;
    }
    
    span {
        color: rgb(50, 192, 62);
    }
    
    h4 {
        text-transform: uppercase;
        position: absolute;
        top: 98%;
        transform: translateY(-98%);
        font-size: 0.8rem;
        color: rgba(0, 0, 0, 0.479);
        width: 100%;
        text-align: center;
    }